{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include "Layout/header.html.twig" %}
    <div>
        <a href="{{ path('app.login') }}">Connexion</a>
        <a href="{{ path('app.register') }}">Inscription</a>
        <a href="{{ path('app.donation') }}">Faire un don</a>
    </div>
    
    <div>
        {% if app.user %}
            <a href="{{ path('app.logout') }}">Déconnexion</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin.dashboard.index') }}">Dashboard</a>
        {% endif %}
    </div>
{% endblock %}
