{% extends 'base.html.twig' %}

{% block title %}Côté Admin - Création d'une cause{% endblock %}

{% block body %}
    <h1>Création d'une cause</h1>
    {{ form_start(form) }}
        {{ form_widget(form.name) }}
        {{ form_widget(form.price) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}